footer{
    background: linear-gradient(180deg, #100D23 0%, #1B0033 100%);
    
    .container{
        border-top: 1px solid #FFFFFF;    
        padding-top: 45px;
        padding-bottom: 284px;
        display: flex;
        max-width: 1350px;

        @media (max-width: 1200px){
            flex-direction: column;
            padding-bottom: 100px;
            
            gap: 20px;

            a{
                display: block;
            }

            .menu_cols{
                flex-direction: column;
                gap: 20px;
            }

            .apps_col{
                margin-left: 0;
            }
        }
    }

    .footer_desc{
        margin-top: 40px;

        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;

        @media (max-width: 1200px){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px 0;
    
            > p{
                width: 50%;
            }
        }
        @media (max-width: 600px){
            flex-direction: row;
        }

        p{
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;

            a{
                color: #ffffff;
            }
        }
    }

    .footer_logo{
        img{
            max-width: 120px;
            width: 100%;
            height: auto;
        }
    }


    .first_col{
        margin-right: 100px;
        min-width: 300px;

        @media (max-width: 1400px){
            margin-right: 40px;
            min-width: 200px;
        }
    }
    .menu_cols{
        display: flex;
        gap: 100px;
    }
    .apps_col{
        margin-left: 100px;

        @media (max-width: 1400px){
            margin-left: 40px;
        }

        a{
            display: block;
            img{
                width: 121px;
                height: auto;
            }
        }
        a:first-child{
            margin-bottom: 28px;
        }
    }

    .title{
        font-weight: 400;
        font-size: 20px;
        line-height: 260%;
        color: #FFFFFF;
    }

    margin-top: 94px;
    @media (max-width: 1200px){
        margin-top: 50px;
    }
}

.menu_holder{
    a{
        font-weight: 400;
        font-size: 14px;
        line-height: 260%;
        color: #FFFFFF;
        width: 100%;
        display: block;
    }
}

.footer_bottom_image{
    width: 100%;
    img{
        width: 100%;
        height: auto;
    }
}