.fifty-fifty{
    margin-top: 125px;
    margin-bottom: 150px;

    @media (max-width: 1230px){
        margin-top: 60px;
        margin-bottom: 78px;
    }

    .container{
        display: flex;
        align-items: center;
        gap: 58px;
       
        @media (max-width: 768px){
            gap: 10px;
            flex-direction: column;
        }

        .hide-on-desktop{
            margin-top: 46px;
        }

        .left-col{
            max-width: 677px;
            width: 100%;
        }
        .right-col{
            max-width: 452px;
            width: 100%;
        }

        .section_image{
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }

        h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 33px;
            color: #FFFFFF;
            margin-bottom: 24px;


            @media (max-width: 600px){
                font-size: 22px;
                line-height: 23px;
                margin-bottom: 22px;
            }
        }

        .desc{
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            color: #FFFFFF;
            margin-bottom: 40px;

            @media (max-width: 600px){
                font-size: 14px;
                line-height: 170%;
            }

            ul{
                padding-left: 20px;
            }
        }


        .btn_container{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;

            @media (max-width: 600px){
                justify-content: space-between;
            }

            img{
                width: auto;
                height: 40px;
            }
        }
    }


    &.reverse{
        .container{
            flex-direction: row-reverse;

            @media (max-width: 768px){
                flex-direction: column;
            }
        }
    }
}