.product_dropdown{
    margin-top: 160px;
    margin-bottom: 212px;

    @media (max-width: 1200px){
        margin-top: 80px;
        margin-bottom: 120px;
    }

    &+.reviews{
        margin-top: -120px;
        @media (max-width: 1200px){
            margin-top: -60px;
        }
    }

    .container{
        max-width: 682px;

        h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 25px;

            @media (max-width: 600px){
                font-size: 22px;
                line-height: 23px;
                text-align: left;
            }
        }

        .desc{
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 26px;

            @media (max-width: 600px){
                font-size: 14px;
                line-height: 170%;
                text-align: left;
                margin-bottom: 42px;
            }
        }
    }
}


.custom_dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;

    background: $secondary;
    border-radius: 12px;
    width: 312px;
    height: 40px;

    @media (max-width: 600px){
        width: 100%;
    }

    margin-left: auto;
    margin-right: auto;

    transition: 500ms all ease;

    svg{
        transition: 500ms all ease;
    }

    &.active{
        svg{
            transform: rotate(180deg);
        }
    }
}

.dropdown_items{
    width: 312px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px){
        width: 100%;
    }

    border-radius: 12px;
    background-color: #ffffff;
    padding: 14px 11px;

    margin-top: 12px;

    max-height: 0px;
    overflow-y: auto;
    transition: 500ms all ease;
    opacity: 0;

    &.active{
        max-height: 280px;
        opacity: 1;
    }
    
    a{
        width: 100%;
        padding: 0px 17px;
        padding-bottom: 10px;
        border-radius: 12px;

        padding-top: 16px;

        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: #100D23;

        display: flex;
        justify-content: space-between;
        align-items: center;

        transition: 500ms all ease;
        svg path{
            transition: 500ms all ease;
        }

        margin-bottom: 5px;

        &:hover{
            background-color: #100D23;
            color: #FFFFFF;

            svg{
                path{
                    fill: #ffffff;
                }
            }
        }

    }


    .title_price{
        .price{
            font-weight: 400;
            margin-top: 8px;
        }
    }
}